<app-header></app-header>

<!-- Home Section -->
<section id="home" class="home-hero">
  <div class="home-hero__content">
    
    <h1 class="heading-primary" style="color:white">Hey, I'm Md. Raju Mia</h1>
    <div class="home-hero__info">
      <p class="text-primary" style="color: white;">
        As a passionate Software Engineer with a B.Sc. in Software Engineering, 
        I specialize in Full Stack Development (Angular, Spring Boot, Laravel) and Mobile App Development (Android-Java). 
        I transform ideas into high-performance, scalable, and intuitive digital solutions—bridging innovation with robust code to deliver exceptional user experiences.
      </p>
    </div>
    <div class="home-hero__cta">
      <a href="#projects" class="btn btn--bg">Projects</a>
    </div>
  </div>
  <div class="home-hero__socials">
    <div class="home-hero__social">
      <a href="https://www.linkedin.com/in/raju-muhammad-se/" class="home-hero__social-icon-link" rel="noreferrer"
        target="_blank">
        <img src="assets/frontend/svg/linkedin-dark.svg" alt="Md. Raju Mia Linkedin Profile"
          class="home-hero__social-icon" />
      </a>
    </div>
    <div class="home-hero__social">
      <a href="https://web.facebook.com/md.raju.mia.108698/" class="home-hero__social-icon-link" rel="noreferrer" target="_blank">
        <img src="assets/frontend/svg/facebook.svg" alt="Md. Raju Mia Twitter Profile"
          class="home-hero__social-icon" />
      </a>
    </div>
    <div class="home-hero__social">
      <a href="https://wa.me/+8801751843119" class="home-hero__social-icon-link home-hero__social-icon-link--bd-none" rel="noreferrer" target="_blank">
        <img src="assets/frontend/svg/whatsapp.svg" alt="Md. Raju Mia Youtube Channel"
          class="home-hero__social-icon" />
      </a>
    </div>
    <div class="home-hero__social">
      <a href="https://github.com/Md-Raju-Mia" class="home-hero__social-icon-link" rel="noreferrer" target="_blank">
        <img src="assets/frontend/svg/github-dark.svg" alt="Md. Raju Mia Github Profile"
          class="home-hero__social-icon" />
      </a>
    </div>

    <div class="home-hero__social">
      <a href="mailto:raju.iit3@gmail.com" class="home-hero__social-icon-link" rel="noreferrer" target="_blank">
        <img src="assets/frontend/svg/email.png" alt="Md. Raju Mia Blog Profile"
          class="home-hero__social-icon" />
      </a>
    </div>
  </div>

  <div class="home-hero__mouse-scroll-cont">
    <div class="mouse"></div>
  </div>
</section>



<!-- About Section -->
<section id="about" class="about sec-pad">
  <div class="main-container">
    <h2 class="heading heading-sec heading-sec__mb-med">
      <span class="heading-sec__main" style="color: white;">About Me</span>
    </h2>
    <div class="about__content">
      <div class="about__content-main">
        <h3 class="about__content-title" style="color: white;">Get to know me!</h3>
        <div class="about__content-details">
          <p class="about__content-details-para" style="color: white;">
            I'm a <strong>Frontend Focused & Full Stack Web Developer</strong> building
            and managing the Front-end & also Backend of Websites and Web Applications that
            leads to the success of the overall product. Check out some of
            my work in the <strong>Projects</strong> section.
          </p>
          <p class="about__content-details-para" style="color: white;">
            I also like sharing content related to the stuff that I have
            learned over the years in <strong>Web Development</strong> so it
            can help other people of the Dev Community. Feel free to Connect
            or Follow me on my
            <a rel="noreferrer" href="https://www.linkedin.com/in/raju-muhammad-se/" target="_blank" style="color: white;">Linkedin</a>
            and
            <a rel="noreferrer" href="https://www.instagram.com/_md._raju_mia/" target="_blank" style="color: white;">Instagram</a>
            where I post useful content related to Web Development and
            Programming
          </p>
          <p class="about__content-details-para" style="color: white;">
            I'm open to <strong>Job</strong> opportunities where I can
            contribute, learn and grow. If you have a good opportunity that
            matches my skills and experience then don't hesitate to
            <strong>contact</strong> me.
          </p>
        </div>
        <a href="#contact" class="btn btn--med btn--theme dynamicBgClr">Contact</a>
      </div>
      <div class="about__content-skills">
        <img style="max-width: 400px; height: auto;;" src="assets/frontend/jpeg/raju22 (2).jpg" alt="Software Screenshot" class="projects__row-img"
          loading="eager" />
      </div>
    </div>
    <div class="about__content">
      <div class="about__content-main">
       
      </div>
      <div class="about__content-skills">
        <h3 class="about__content-title" style="color: white;">My Skills</h3>
        <div class="skills">
          <div class="skills__skill" style="color: white;">Angular</div>
          <div class="skills__skill" style="color: white;">Spring Boot</div>
          <div class="skills__skill" style="color: white;">Android(Java)</div>
          <div class="skills__skill" style="color: white;">Java</div>
          <div class="skills__skill" style="color: white;">Python</div>
          <div class="skills__skill" style="color: white;">PHP</div>
          <div class="skills__skill" style="color: white;">C</div>
          <div class="skills__skill" style="color: white;">C++</div>
          <div class="skills__skill" style="color: white;">HTML</div>
          <div class="skills__skill" style="color: white;">CSS</div>
          <div class="skills__skill" style="color: white;">Bootstrap</div>
          <div class="skills__skill" style="color: white;">Tailwind</div>
          <div class="skills__skill" style="color: white;">JavaScript</div>
          <div class="skills__skill" style="color: white;">MySQL Workbench </div>
          <div class="skills__skill" style="color: white;">React</div>
          <div class="skills__skill" style="color: white;">GIT</div>
          <div class="skills__skill" style="color: white;">Github</div>
          <div class="skills__skill" style="color: white;">Responsive Design</div>
  
        </div>
      </div>
    </div>
  </div>
</section>


<!-- work Experience Section Section -->
<section id="workexperience" class="about sec-pad">
  <div class="main-container">
    <h2 class="heading heading-sec">
      <span class="heading-sec__main" style="color: white;">Work Experience</span>
      <span class="heading-sec__sub" style="color: white;">
        <b>Software Engineer (Intern)    May 2024--October 2024</b><br>
        Software Research & Development<br>
        INovex Idea Solution Limited,
        Dhaka, Bangladesh
      </span>
    </h2>
  </div>
</section>



<!--Project Sections -->
<section id="projects" class="projects">
  <div class="main-container">
    <h2 class="heading heading-sec heading-sec__mb-bg">
      <span class="heading-sec__main" style="color: white;">Projects</span>
      <span class="heading-sec__sub" style="color: white;">
        Here you will find some of the personal and clients projects that I
        created with each project containing its own case study
      </span>
    </h2>

    <div class="projects__content">
      <div id="projectbefore1" class="projects__row">
        <div class="projects__row-img-cont">
          <img src="assets/frontend/jpeg/loanPrediction.png" alt="Software Screenshot" class="projects__row-img"
            loading="eager" />
        </div>
        <div class="projects__row-content">
          <h3 class="projects__row-content-title" style="color: white;">Loan Approval Prediction System</h3>
          <p class="projects__row-content-desc" style="color: white;">
            The primary goal of this project is to explore and apply research-driven techniques to build a 
            real-world solution for the loan approval process.
            Used Technologies:<br>
            <b>1.</b> Angular<br>
            <b>2.</b> Spring Boot<br>
            <b>3.</b> Flask API<br>
            <b>4.</b> Google Colab<br>
            <strong>Key Highlights: Research-Based Approach:  </strong>
            The project is rooted in extensive research to understand the intricacies of 
            loan approval systems and identify the best predictive models.

          </p>
          <a class='btn btn--med btn--theme dynamicBgClr' href="/project5">Case Study</a>
        </div>
      </div>
      <div id="project1section" class="projects__row">
        <div class="projects__row-img-cont">
          <img src="assets/frontend/jpeg/soldier.png" alt="Software Screenshot" class="projects__row-img"
            loading="eager" />
        </div>
        <div class="projects__row-content">
          <h3 class="projects__row-content-title" style="color: white;">Soldier</h3>
          <p class="projects__row-content-desc" style="color: white;">
            A 2D platformer adventure game in Java. Features-<br>
            <b>1.</b> Methods: Linear algebra, vector and FOL algorithms.<br>
            <b>2.</b> A soldier on a quest to reach the national flag.<br>
            <b>3.</b> Enemies and obstacles to overcome.<br>
            <b>4.</b> Action and strategy gameplay.<br>
            <strong>Languages:</strong>
            Java, Java Swing, JavaFx, Adobe Illustrator.

          </p>
          <a class='btn btn--med btn--theme dynamicBgClr' href="/project1">Case Study</a>
        </div>
      </div>
      <div id="projectafter1" class="projects__row">
        <div class="projects__row-img-cont">
          <img src="assets/frontend/jpeg/Ble.png" alt="Software Screenshot" class="projects__row-img"
            loading="eager" />
        </div>
        <div class="projects__row-content">
          <h3 class="projects__row-content-title" style="color: white;">Ble-Fuel Pump Control System</h3>
          <p class="projects__row-content-desc" style="color: white;">
            Android fronted application developed using java.<br>
            <b>1.</b>User (Supervisor) Authentication<br>
            <b>2.</b>QR verification of car & driver<br>
            <b>3.</b>Select driver & Car fuel type from the spinner.<br>
            <b>4.</b>Responsive user interface design.<br>
            <b>5.</b>Interactive icons and perfect color implementation.<br>
            <strong>Languages:</strong>
            Java,XML

          </p>
          <a class='btn btn--med btn--theme dynamicBgClr' href="/project6">Case Study</a>
        </div>
      </div>
      <div id="project2section" class="projects__row">
        <div class="projects__row-img-cont">
          <img src="assets/frontend/jpeg/kanban.png" alt="Software Screenshot" class="projects__row-img"
            loading="eager" />
        </div>
        <div class="projects__row-content">
          <h3 class="projects__row-content-title" style="color: white;">IIT Kanban Board</h3>
          <p class="projects__row-content-desc" style="color: white;">
            A web-based application for student and teacher project management. Features-<br>
            <b>1.</b> Create and Delete Projects.<br>
            <b>2.</b> Add Supervisors and Members.<br>
            <b>3.</b> Send and Accept Invitations.<br>
            <b>4.</b> Create and Delete Tasks.<br>
            <b>5.</b> Upload and Download Files under tasks & Messaging.<br>
            <b>6.</b> he supervisor has the highest level of access to the project.<br>

            <b>Languages:</b>HTML, CSS, PHP, jQuery, JavaScript, MySQL
          </p>

          <a class='btn btn--med btn--theme dynamicBgClr' href="/project2">Case Study</a>
        </div>
      </div>
      <div id="projectafter2" class="projects__row">
        <div class="projects__row-img-cont" >
          <img style="margin-left: 18px;" src="assets/frontend/jpeg/websiteblog.png" alt="Software Screenshot" class="projects__row-img"
            loading="eager" />
        </div>
        <div class="projects__row-content">
          <h3 class="projects__row-content-title" style="color: white;">Blog Website</h3>
          <p class="projects__row-content-desc" style="color: white;">
            A blog website for showing the trend, latest article, news and case study<br>
            <b>1.</b> Write blogs based on catagory<br>
            <b>2.</b> Upload relevent images<br>
            <b>3.</b> Shows the search related and catagory based blog, news , article etc.<br>
            <strong>Languages:</strong>
            PHP, JavaScript, HTML, CSS, Bootstrap, Ajax, Datatable, MySQL.

          </p>
          <a class='btn btn--med btn--theme dynamicBgClr' href="/project7">Case Study</a>
        </div>
      </div>
      <div id="project3section" class="projects__row">
        <div class="projects__row-img-cont">
          <img src="assets/frontend/jpeg/CountWord.png" alt="Software Screenshot" class="projects__row-img"
            loading="eager" />
        </div>
        <div class="projects__row-content">
          <h3 class="projects__row-content-title" style="color: white;">CountWord ReactJs</h3>
          <p class="projects__row-content-desc" style="color: white;">
            Small Project of React Js. An Application of Understanding JSX, adding bootstrap to react, understanding
            props and prop types, Understanding state and handling the event, adding more logic to textutils, enhancing
            textutils, Enable and disabling dark mode & refactoring app components.
          </p>
          <a class='btn btn--med btn--theme dynamicBgClr' href="/project3">Case Study</a>
        </div>
      </div>
      <div id="project4section" class="projects__row">
        <div class="projects__row-img-cont">
          <img src="assets/frontend/jpeg/Boibitan.png" alt="Software Screenshot" class="projects__row-img"
            loading="eager" />
        </div>
        <div class="projects__row-content">
          <h3 class="projects__row-content-title" style="color: white;">বই-বিতান</h3>
          <p class="projects__row-content-desc" style="color: white;">
            বই একটি জাদুঘর, যেখানে আপনি নানান দেশে বিভিন্ন চোখ ও দৃষ্টি দ্বারা পুরো নতুন বিশ্ব সম্প্রসারণ করতে পারেন। বই
            একটি অদৃশ্য বন্ধন, যেখানে লেখকের চিন্তা ও বুদ্ধি গ্রহণ করে পাঠকের জীবনে নতুন পরিবর্তন আনতে সাহায্য করে।<br>
            Features-of this application<br>
            <b>1.</b>The author can add books and prices.<br>
            <b>2.</b>Users can search for and buy books.<br>
            <b>3.</b>Users can rate and review books.<br>
            <b>4.</b>The author has the highest level of access to the application<br>
          </p>
          <a class='btn btn--med btn--theme dynamicBgClr' href="/project4">Case Study</a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Contact Section -->
<section id="contact" class="contact sec-pad dynamicBg">
    <div class="main-container">
      <h2 class="heading heading-sec heading-sec__mb-med">
        <span class="heading-sec__main heading-sec__main--lt" style="color: white;">Contact</span>
        <span class="heading-sec__sub heading-sec__sub--lt" style="color: white;">
          Feel free to Contact me by submitting the form below and I will get
          back to you as soon as possible
        </span>
      </h2>
      <div class="contact__form-container">
        <form (ngSubmit)="onSubmit()" #contactForm="ngForm" class='contact__form'>
          <div class="contact__form-field">
            <label class="contact__form-label" for="name">Name</label>
            <input placeholder="Enter Your Name" type="text" 
                   class="contact__form-input" name="name" id="name" 
                   [(ngModel)]="contactData.name" #name="ngModel">
            <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error-message">
              Name is required
            </div>
          </div>
          <div class="contact__form-field">
            <label class="contact__form-label" for="email">Email</label>
            <input placeholder="Enter Your Email" type="email" 
                   class="contact__form-input" name="email" id="email" 
                   [(ngModel)]="contactData.email" #email="ngModel" email>
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="error-message">
              <div *ngIf="email.errors?.['required']">Email is required</div>
              <div *ngIf="email.errors?.['email']">Please enter a valid email</div>
            </div>
          </div>
          <div class="contact__form-field">
            <label class="contact__form-label" for="message">Message</label>
            <textarea cols="30" rows="10" class="contact__form-input" 
                      placeholder="Enter Your Message" name="message" id="message"
                      [(ngModel)]="contactData.message" #message="ngModel"></textarea>
            <div *ngIf="message.invalid && (message.dirty || message.touched)" class="error-message">
              Message is required
            </div>
          </div>
          <button type="submit" class="btn btn--theme contact__btn">
            Submit
          </button>
        </form>
      </div>
    </div>
  </section>

<app-footer></app-footer>