<app-header></app-header>
  <section class="project-cs-hero">
    <div class="project-cs-hero__content">
      <h1 class="heading-primary">Count Word React Js</h1>
      <div class="project-cs-hero__info">
        <p class="text-primary">
          This page contains the case study of Count Word React Js Project which includes the Project Overview, Tools Used and Live Links to the official product.
        </p>
      </div>
      <div class="project-cs-hero__cta">
        <a href="https://github.com/Md-Raju-Mia/Word-Counter-React.git" class="btn btn--bg" target="_blank" rel="noreferrer">Live Link</a>
      </div>
    </div>
  </section>
  <section class="project-details">
    <div class="main-container">
      <div class="project-details__content">
        <div class="project-details__showcase-img-cont">
          <img src="assets\frontend/jpeg/CountWord.png" alt="Project Image" class="project-details__showcase-img" />
        </div>
        <div class="project-details__content-main">
          <div class="project-details__desc">
            <h2 class="project-details__content-title">
              Count Word React Js
            </h2>
            <p class="project-details__desc-para">
              A Project of React Js. An Application of Understanding JSX, adding bootstrap to react, understanding props and prop types, Understanding state and handling the event, adding more logic to textutils, enhancing textutils, Enable and disabling dark mode & refactoring app components. 
            </p>
            <p class="project-details__desc-para">
              I used my frontend tools to build the User Interface which works
              on all types of devices and the
              frontend perform of this project is faster.
            </p>
            <p class="project-details__desc-para">
              Feel free to check out the Project by visiting the Live Link.
            </p>
          </div>
          <div class="project-details__tools-used">
            <h2 class="project-details__content-title">Tools Used</h2>
            <div class="skills">
              <div class="skills__skill">HTML</div>
              <div class="skills__skill">CSS</div>
              <div class="skills__skill">JavaScript</div>
              <div class="skills__skill">React</div>
              <div class="skills__skill">Bootstrap</div>
              <div class="skills__skill">GIT</div>
              <div class="skills__skill">Github</div>
            </div>
          </div>
          <div class="project-details__links">
            <h2 class="project-details__content-title">See Live</h2>
            <a href="https://github.com/Md-Raju-Mia/Word-Counter-React.git" class="btn btn--med btn--theme project-details__links-btn"
              target="_blank" rel="noreferrer">Live Link</a>
            <a href="/#project3section" class="btn btn--med btn--theme-inv project-details__links-btn">Go Back</a>
          </div>
        </div>
      </div>
    </div>
  </section>


  <app-footer></app-footer>