<app-header></app-header>

  <section class="project-cs-hero">
    <div class="project-cs-hero__content">
      <h1 class="heading-primary">SolDieR</h1>
      <div class="project-cs-hero__info">
        <p class="text-primary" style="color:white">
          This page contains the case study of Soldier Open-Source Desktop Project which includes
          the Project Overview, Tools Used and Live Links to the official
          product.
        </p>
      </div>
      <div class="project-cs-hero__cta">
        <a href="https://github.com/Md-Raju-Mia/Soldier-Java-Game-Updated-Raju.git" class="btn btn--bg" target="_blank" rel="noreferrer">Project
          Link</a>
      </div>
    </div>
  </section>
  <section id="project-details"class="project-details">
    <div class="main-container">
      <div class="project-details__content">
        <div class="project-details__showcase-img-cont">
          <img src="assets/frontend/jpeg/soldier.png" alt="Project Image" class="project-details__showcase-img" />
        </div>
        <div class="project-details__content-main">
          <div class="project-details__desc">
            <h2 class="project-details__content-title">Project Overview</h2>
            <p class="project-details__desc-para">
              “সোলজার” is an adventure-style game. Here is a character named Soldier who has to go to a certain destination from the beginning. We use here (graphical Work, Linear algebra and vector method, FOL-First order logic (robotics & automatism)) and also usable different algorithm to implement our game successfully. And the coding language of the game will must be Java and Java swing.


            <h2 class="project-details__content-title">Uses of Algorithm</h2>
            <p class="project-details__desc-para">
              <b>Linear Algebra:</b> In this game the linear Algebra help me to declare and assign variable and also use them different in different class.<br>
              <b>Vector Method:</b> Vector method is a method which declare the Vector of moving. We can move left, right, up, down by using this.<br>
              <b>Animation & Robotics:</b> For soldier robotics algorithm are works  for jump, shoot, visible or divisible etc.
            </p>

            <h2 class="project-details__content-title">Target Customers</h2>
            <p class="project-details__desc-para">
                  <b>1.</b> All People<br>
                   <b>2.</b>Specially young people and child
            </p>

            <h2 class="project-details__content-title">MODEL,TOOLS & RESOURCES</h2>
            <p class="project-details__desc-para">
                 <b>1.</b> Agile Model <br>
                  <b>2.</b>NetBeans IDE 8.2 <br>
                  <b>3.</b>Java the Complete Reference (Herbert Scheldt)
            </p>

            <p class="project-details__desc-para">
              Feel free to check out the Project by visiting the Project Link.
            </p>
          </div>
          <div class="project-details__tools-used">
            <h2 class="project-details__content-title">Tools Used</h2>
            <div class="skills">
              <div class="skills__skill">Java</div>
              <div class="skills__skill">Java Swing</div>
              <div class="skills__skill">JavaFx</div>
              <div class="skills__skill">Adobe Illustrator</div>
              <div class="skills__skill">GIT</div>
              <div class="skills__skill">Github</div>
            </div>
          </div>
          <div class="project-details__links">
            <h2 class="project-details__content-title">See Live</h2>
            <a href="https://github.com/Md-Raju-Mia/Soldier-Java-Game-Updated-Raju.git" class="btn btn--med btn--theme project-details__links-btn"
              target="_blank" rel="noreferrer">Project Link</a>
            <a href="/#project1section" class="btn btn--med btn--theme-inv project-details__links-btn">Go Back</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <app-footer></app-footer>

  