<app-header></app-header>

  <section class="project-cs-hero">
    <div class="project-cs-hero__content">
      <h1 class="heading-primary">Ble-Fuel Pump Control System</h1>
      <div class="project-cs-hero__info">
        <p class="text-primary" style="color:white">
          This page contains the case study of Ble-Fuel Pump Control System Open-Source Android Project which includes
          the Project Overview, Tools Used and Live Links to the official product.
        </p>
      </div>
      <div class="project-cs-hero__cta">
        <a href="https://github.com/Md-Raju-Mia/Ble-Fuel-Pump-Control-System.git" class="btn btn--bg" target="_blank" rel="noreferrer">Project
          Link</a>
      </div>
    </div>
  </section>
  <section id="project-details"class="project-details">
    <div class="main-container">
      <div class="project-details__content">
        <div class="project-details__showcase-img-cont" style="margin-top: -70px;">
          <img src="assets/frontend/jpeg/Ble.png" alt="Project Image" class="project-details__showcase-img" />
        </div>
        <div class="project-details__content-main">
          <div class="project-details__desc">
            <h2 class="project-details__content-title">Project Overview</h2>
            <p class="project-details__desc-para">
            
            <b>User Interface</b><br>    

            I. Responsive user interface design <br>
            II. Interactive icons and perfect color implementation <br>
            III. Custom themes & color are used for better user experience<br><br>

            <b>Features</b><br>

            I. User (Supervisor) Authentication <br>
            II. QR verification of car & driver <br>
            III. Select driver & Car fuel type from the spinner <br>
            IV. Auto calculate the price of fuel <br>
            V. Capture the car image & pump image send them on server (Used Multipart Request Body)<br> 
            VI. OTP verifies<br>
            VII. Data submission with proper validation<br> 
            VIII. Print receipt. <br>
            IX. Connect ble printer view on list. <br>
            X. Monthly Report of the supervisor<br>
            XI. Report Based on Date <br>
            XII. Handle both System back button press and application back button & logout case.<br> 
            XIII. Showed system alert where necessary for button press.<br><br>

            <b>Code Maintains</b><br>

            I. Used of Object-oriented design concepts <br>
            II. Used clean architecture for separating the concerns <br>
            III. Common Widgets for code reusing IV. Single class code is between 150-200 lines<br><br>

            <b>Agile Development</b>

            I. Used agile development<br> 
            II. Separate the task according priority<br>
            III. If some tasks are not complete then it will move to the next priority<br> 
            IV. After completing each part of the project, testing is started<br>

            </p>

            <h2 class="project-details__content-title">Target Customers</h2>
            <p class="project-details__desc-para">
                  <b>1.</b>Petrol Pumps owners<br>
            </p>

            <h2 class="project-details__content-title">MODEL,TOOLS & RESOURCES</h2>
            <p class="project-details__desc-para">
                 <b>1.</b> Agile Model <br>
                 <b>2.</b>Android Studio <br>
            </p>

            <p class="project-details__desc-para">
              Feel free to check out the Project by visiting the Project Link.
            </p>
          </div>
          <div class="project-details__tools-used">
            <h2 class="project-details__content-title">Tools Used</h2>
            <div class="skills">
              <div class="skills__skill">Java</div>
              <div class="skills__skill">XML</div>
              <div class="skills__skill">GIT</div>
              <div class="skills__skill">Github</div>
            </div>
          </div>
          <div class="project-details__links">
            <h2 class="project-details__content-title">See Live</h2>
            <a href="https://github.com/Md-Raju-Mia/Ble-Fuel-Pump-Control-System.git" class="btn btn--med btn--theme project-details__links-btn"
              target="_blank" rel="noreferrer">Project Link</a>
            <a href="/#projectafter1" class="btn btn--med btn--theme-inv project-details__links-btn">Go Back</a>
          </div>
        </div>
      </div>
    </div>
  </section>

<app-footer></app-footer>

  