<app-header></app-header>

  <section class="project-cs-hero">
    <div class="project-cs-hero__content">
      <h1 class="heading-primary">Blog Page Website</h1>
      <div class="project-cs-hero__info">
        <p class="text-primary" style="color:white">
          This page contains the case study of Blog Page Website Open-Source Project which includes
          the Project Overview, Tools Used and Live Links to the official product.
        </p>
      </div>
      <div class="project-cs-hero__cta">
        <a href="https://github.com/Md-Raju-Mia/BlogPageWebsite.git" class="btn btn--bg" target="_blank" rel="noreferrer">Project
          Link</a>
      </div>
    </div>
  </section>
  <section id="project-details"class="project-details">
    <div class="main-container">
      <div class="project-details__content">
        <div class="project-details__showcase-img-cont" style="margin-left: 50px; margin-top: -70px;">
          <img src="assets/frontend/jpeg/websiteblog.png" alt="Project Image" class="project-details__showcase-img" />
        </div>
        <div class="project-details__content-main">
          <div class="project-details__desc">
            <h2 class="project-details__content-title">Project Overview</h2>
            <p class="project-details__desc-para">
              A blog page website with several catagories of blogs like "Trend blogs", "Latest Stories", "Article", "Case Study", "News".
              Each block is clickable for details information about the blogs. A person can also shows the related blocks he likes to read.
              A person also can
                1. Share blogs on facebook, linkedIn, Whatsapp via link.
                2. Visitors can make inquiries using the contact form.
                3. Website owner can create blog post, delete blog post and also be able to update.</p>

            <h2 class="project-details__content-title">Target Customers</h2>
            <p class="project-details__desc-para">
                  <b>1.</b> All visitors who fond of to read blogs<br>
            </p>

            <h2 class="project-details__content-title">MODEL,TOOLS & RESOURCES</h2>
            <p class="project-details__desc-para">
                 <b>1.</b> Agile Model <br>
                  <b>2.</b>VS code<br>
                  <b>3.</b>Free Tex-Editor
            </p>

            <p class="project-details__desc-para">
              Feel free to check out the Project by visiting the Project Link.
            </p>
          </div>
          <div class="project-details__tools-used">
            <h2 class="project-details__content-title">Tools Used</h2>
            <div class="skills">
              <div class="skills__skill">PHP</div>
              <div class="skills__skill">JavaScript</div>
              <div class="skills__skill">HTML</div>
              <div class="skills__skill">CSS</div>
              <div class="skills__skill">Bootstrap</div>
              <div class="skills__skill">MySQL</div>
              <div class="skills__skill">Ajax</div>
              <div class="skills__skill">Data Table</div>
              <div class="skills__skill">GIT</div>
              <div class="skills__skill">Github</div>
            </div>
          </div>
          <div class="project-details__links">
            <h2 class="project-details__content-title">See Live</h2>
            <a href="https://github.com/Md-Raju-Mia/BlogPageWebsite.git" class="btn btn--med btn--theme project-details__links-btn"
              target="_blank" rel="noreferrer">Project Link</a>
            <a href="/#projectafter2" class="btn btn--med btn--theme-inv project-details__links-btn">Go Back</a>
          </div>
        </div>
      </div>
    </div>
  </section>
<app-footer></app-footer>

  